
.header {
    align-items: center;
    padding: auto;
}
#cathub-logo {
    display: block;
    margin: auto;
}

.container-upper {
    width: 100%;
}

.gif-search-container {
    align-items: center;
}

.gif-preview {
    width: 60%;
    margin: auto;
}

.text-img-container {
    align-items: center;
}

.text-img-preview {
    width: 60%;
    margin: auto;
}

#memeCanvas {
    width: 60%;
}

.gif-nav {
    display: block;
    background: transparent;
    border: transparent;
    margin:auto;
}

.nav-icon {
    align-items: center;
    width: 100px;
}

.cat-gif-container {
    border: 5px solid white;
    border-radius: 25px;
    background-color: rgba(20, 20, 20, 0.1);
    -moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;
    padding: 5px;
}

.cat-gif {
    width: 90%;
}

.btn-secondary {
    width: 210px;
    margin-bottom: 10px;
    background-color: #da318fd6
}

#combineButton {
    display: block;
    width: 250px;
    margin: auto;
}

#combiner {
    background-image: url("../assets/bkgd.jpg")
}
