.btn-secondary {
    width: 210px;
    margin-bottom: 10px;
    background-color: #da318fd6
}


#combiner {
    background-image: url("../assets/bkgd.jpg")
}

#memeSection {
    position: absolute;
    bottom: 1px;
    left: 17px;
    width: 398px;
}
